/*-- CSS RESET--*/
/* Box sizing rules */
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {padding: 0;list-style: none; margin: 0;}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {margin: 0;}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 5em;}
  

/* Make images easier to work with */

img { max-width: 100%;}

/*--CSS RESET END--*/

/*--IMAGEN NAVE--*/

main{
    width: 80%;
    margin: auto;
    height: 700px;
    overflow: hidden;


}

#nave{
    height: 700px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    overflow: hidden;

}

#planet1{
  
    margin: auto;
    top:250;
    bottom: 0;
    left: 1000;
    right: 0;


}

#planet2{
    
    margin:auto;
    top:100;
    bottom: 0;
    left: 0;
    right: 1000;

    
}

#planet3{
    
    margin:auto;
    top:300;
    bottom: 0;
    left: 0;
    right: 800;

    
}

#planet4{
    
    margin:auto;
    top:400;
    bottom: 0;
    left: 0;
    right: 1100;

    
}

#planet5{
    
    margin:auto;
    top:500;
    bottom: 0;
    left: 1000;
    right: 0;

    
}

#planet6{
    
    margin:auto;
    top:400;
    bottom: 0;
    left: 700;
    right: 0;

    
}

#planet7{
    
    margin:auto;
    top:100;
    bottom: 0;
    left: 600;
    right: 0;

    
}

#planet8{
    
    margin:auto;
    top:150;
    bottom: 0;
    left: 0;
    right: 600;

    
}

#planet9{
    
    margin:auto;
    top:500;
    bottom: 0;
    left: 0;
    right: 750;

    
}

.animPlanet1{
    width: 8%;
    position: absolute;
    z-index: 9999;
    transition: all 1.5s;


}

.animPlanet1:hover{

    transform: translate(40px,10px);

}

.animPlanet2{
    width: 8%;
    position: absolute;
    z-index: 9999;
   transition: all 1.5s;


}

.animPlanet2:hover{

    transform: translate(-40px,-30px)

}